@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
  display: none;
}

*{
  background-color: black;
  color: white;
}

*>*{
  background-color: transparent
}

.text-shadow{
  filter: drop-shadow(2px 2px 1px black);
}

.background-slider{
  height: 100dvh;
  width: 100vw;
  border: 1px solid white;
  background: url("/background.jpg") no-repeat center;
  background-size: cover;
  filter: brightness(0.3);

  transform: skew(-15deg) scale(1.3);
  animation: slide 20s infinite alternate-reverse linear;
}

@keyframes slide {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}